In [21]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

# Lectura de archivos .CSV, .XLXS, y .SQL

In [29]:
body_df = pd.read_excel('body.xlsx')
body2_df = pd.read_csv('body.csv')
body_df.head()

,shoulder.girth,chest.girth,waist.girth,navel.girth,hip.girth,thigh.girth,bicep.girth,forearm.girth,knee.girth,calf.girth,ankle.girth,wrist.girth,weight,height,gender
0,106.2,89.5,71.5,74.5,93.5,51.5,32.5,26.0,34.5,36.5,23.5,16.5,65.6,174.0,1
1,110.5,97.0,79.0,86.5,94.8,51.5,34.4,28.0,36.5,37.5,24.5,17.0,71.8,175.3,1
2,115.1,97.5,83.2,82.9,95.0,57.3,33.4,28.8,37.0,37.3,21.9,16.9,80.7,193.5,1
3,104.5,97.0,77.8,78.8,94.0,53.0,31.0,26.2,37.0,34.8,23.0,16.6,72.6,186.5,1
4,107.5,97.5,80.0,82.5,98.5,55.4,32.0,28.4,37.7,38.6,24.4,18.0,78.8,187.2,1

# Conexión con SQL

engine = create_engine('postgresql://usuario:contraseña@localhost:5432/nombre_db')

In [31]:
# Conexión con un el PostgresSQl (gestor de datos), esto permite hacer uno de los datos que fueron analizados

engine = create_engine('postgresql://postgres:chobit123@localhost:5432/ANALISIS DE DATOS')

engine2 = create_engine('postgresql://postgres:chobit123@localhost:5432/DV_DRENTAL')

# Crear un engine para MySQL
#engine = create_engine('mysql+pymysql://usuario:contraseña@localhost:3306/nombre_db')

# Crear un engine para SQLite
#engine = create_engine('sqlite:///ruta/hacia/archivo.db')

## Consultas con SQL

In [35]:
consulta = """select *
              from public.customers
              order by 1"""

df1=pd.read_sql(consulta, engine).tail(5)

In [53]:
consulta = """SELECT order_id, 
                     order_date, 
                     shipped_date,
                     customer_id,
                     freight 
                FROM public.orders
               order by 5 desc"""

df2= pd.read_sql(consulta, engine)
print(df2.head(6))
print(df2.tail(5))

   order_id  order_date shipped_date customer_id  freight
0     10540  1997-05-19   1997-06-13       QUICK  1007.64
1     10372  1996-12-04   1996-12-09       QUEEN   890.78
2     11030  1998-04-17   1998-04-27       SAVEA   830.75
3     10691  1997-10-03   1997-10-22       QUICK   810.05
4     10514  1997-04-22   1997-05-16       ERNSH   789.95
5     11017  1998-04-13   1998-04-20       ERNSH   754.26
     order_id  order_date shipped_date customer_id  freight
825     11035  1998-04-20   1998-04-24       SUPRD     0.17
826     10509  1997-04-17   1997-04-29       BLAUS     0.15
827     10644  1997-08-25   1997-09-01       WELLI     0.14
828     10296  1996-09-03   1996-09-11       LILAS     0.12
829     10972  1998-03-24   1998-03-26       LACOR     0.02

# Formas de filtrar datos

In [ ]:
#Quiero saber el nombre de las columnas de mi base de datos
#print(body_df.columns)

#Quiero saber el tipo de información que contiene base de datos
#print(body_df.dtypes)

# Observar los primeros datos de la circunferencia del hombro
body_df['chest.girth']

In [48]:
#quiero saber que personas son de genero femenino, solo mostrar los 7 primeros y el numero de personas
#body_df[body_df['gender']==1].tail(10)

num_mujeres= len(body_df[body_df['gender']==0])
print(f'El numero de mujeres es de {num_mujeres}')

El numero de mujeres es de 260

In [51]:
#Me gustaria saber el numero de personas con peso entre 40 y 100
#body_df[(body_df['weight'] >= 60) & (body_df['weight'] <= 100)]

#Determine los hombres que tengan pesos mayores a 80 kg
Hombre_mas_80 = body_df.query('weight >= 80 and gender == 0')
print(Hombre_mas_80)

     shoulder.girth  chest.girth  waist.girth  navel.girth  hip.girth  \
268           111.4         94.5         82.2         94.2      110.2
270           117.1         95.2         85.0         91.2      111.0
279           114.0         99.0         85.0         92.5      106.4
311           110.8         97.4         96.3        104.2      102.6
358           129.5        108.0        101.5        105.5      114.0
406           111.0        104.2         93.4        111.1      109.8
419           108.9         98.9         83.6        108.6      108.3
456           110.7         95.0         83.4        100.5      107.5
465           115.2        105.2         88.2        106.5      107.9
473           127.1        106.9         96.2        121.1      128.3
476           106.4         96.3         86.1        107.4      112.0
481           115.6        109.0         94.2        110.5      103.5

     thigh.girth  bicep.girth  forearm.girth  knee.girth  calf.girth  \
268         69.0         32.5           26.8        40.5        38.6
270         68.0         34.4           28.3        40.1        40.0
279         65.6         31.6           26.6        39.6        38.9
311         57.5         34.3           26.5        38.3        41.1
358         70.0         40.3           30.8        45.6        45.0
406         67.7         35.7           28.6        41.5        38.6
419         63.0         31.9           26.0        38.1        36.4
456         67.4         34.2           28.3        40.9        41.2
465         63.1         30.3           25.2        39.2        38.4
473         72.3         35.9           30.6        49.0        45.4
476         69.4         31.7           25.5        39.4        38.7
481         57.8         35.7           25.6        34.8        35.5

     ankle.girth  wrist.girth  weight  height  gender
268         23.0         16.6    82.5   175.0       0
270         24.2         17.6    87.8   176.5       0
279         23.3         15.9    83.0   176.5       0
311         22.9         16.4    80.0   161.0       0
358         25.8         18.2   105.2   172.7       0
406         22.3         17.3    84.5   162.6       0
419         24.5         16.0    81.8   182.9       0
456         23.4         15.6    80.9   165.1       0
465         23.1         16.4    86.3   165.1       0
473         24.1         17.8   104.1   165.1       0
476         23.7         16.3    80.5   160.0       0
481         19.5         15.0    81.8   162.6       0

In [54]:
#quiero saber si que personas tiene el flete como NA y analizar si hay relación
df2[df2['freight'].isnull()]

Empty DataFrame
Columns: [order_id, order_date, shipped_date, customer_id, freight]
Index: []

# MANIPULACIÓN DE DATOS

In [ ]:
#11.Si el costo del flete (freight) es mayor o igual a $500.00, ahora tributará con el 10%. 
#   Cree un informe que muestre la identificación del pedido, el costo del flete, el costo del flete 
#   con este impuesto para todos los pedidos de $500 o más.

pedidos_altos_fletes = df2[df2['freight'] >= 500.00]
pedidos_altos_fletes['nuevo_impuesto'] = pedidos_altos_fletes['freight'] * 0.10
pedidos_altos_fletes['flete_impuesto'] = pedidos_altos_fletes['freight'] + pedidos_altos_fletes['nuevo_impuesto']
informe = pedidos_altos_fletes[['order_id', 'freight', 'nuevo_impuesto', 'flete_impuesto']]
print(informe)

In [ ]:
#Agregar esta nuevo intomación al la base de datos original
df2.loc[pedidos_altos_fletes.index, ['nuevo_impuesto', 'flete_impuesto']] = pedidos_altos_fletes[['nuevo_impuesto', 'flete_impuesto']]
print(df2.tail(10))

In [ ]:
#Ahora los nuelos de nuevo impuesto has que sean 0
df2.fillna({'nuevo_impuesto':0}, inplace=True)
print(df2.tail(10))